In [ ]:
1. Business Objective
Tujuan bisnis dari penggunaan Daily Food and Nutrition Dataset adalah untuk memahami pola makan harian dan kandungan gizi dalam makanan yang dikonsumsi oleh individu.
Berdasarkan data tersebut, bisnis dapat mengembangkan aplikasi atau solusi berbasis data yang bertujuan untuk:
Menyediakan rekomendasi diet yang lebih personal dan sesuai dengan tujuan kesehatan penggunanya (misalnya, penurunan berat badan, peningkatan energi, atau pemeliharaan kesehatan jantung).
Membantu perusahaan makanan untuk merancang produk baru yang lebih sehat dan lebih sesuai dengan kebutuhan gizi konsumen.
Mengembangkan aplikasi kesehatan atau kebugaran yang dapat membantu pengguna memantau konsumsi gizi harian mereka dan mencapainya dengan lebih baik.
Memberikan wawasan kepada ahli gizi dan institusi kesehatan untuk melakukan penyuluhan tentang pola makan sehat dan mengurangi penyakit yang terkait dengan diet yang buruk (misalnya obesitas, diabetes).

In [ ]:
Assess Situation
Dataset ini terdiri dari informasi tentang makanan dan gizi yang dikonsumsi setiap hari. Memahami struktur dataset dan kualitas data (apakah ada missing value, outliers, atau kesalahan lainnya) sangat penting untuk analisis lebih lanjut.
Keterbatasan Data: Pastikan dataset sudah cukup lengkap dan mencakup berbagai jenis makanan yang umum dikonsumsi, serta mencatat dengan jelas komposisi gizi setiap makanan.

In [ ]:
Data Mining Goals
Untuk menggali wawasan bermanfaat dari dataset yang ada, seperti mengidentifikasi pola makan dan mengelompokkan makanan berdasarkan kandungan
gizinya misalnya, makanan kaya protein, rendah kalori, tinggi serat. Selain itu, proyek ini bertujuan untuk mengembangkan sistem rekomendasi diet menggunakan teknik machine learning, serta menganalisis hubungan antara pola makan dan kesehatan,
seperti kaitannya dengan obesitas atau penyakit jantung. Proyek ini juga berfokus pada analisis korelasi antara makanan dan nilai gizi yang diperoleh,
serta menyusun pola makan optimal yang memenuhi standar gizi yang direkomendasikan.

In [ ]:
Project Plan

1. Fase Persiapan Data:

Langkah: Mengumpulkan, membersihkan, dan mempersiapkan data yang relevan untuk analisis lebih lanjut. Ini termasuk mengatasi data yang hilang, menghapus duplikasi, dan memastikan konsistensi format.
Tujuan: Memastikan data yang digunakan berkualitas tinggi dan bebas dari kesalahan, serta siap untuk analisis lebih lanjut.

2. Fase Eksplorasi Data:
Langkah: Menggunakan teknik eksplorasi data untuk menganalisis distribusi kalori, kandungan gizi, dan hubungan antar variabel dalam dataset.
Tujuan: Mendapatkan wawasan awal mengenai pola makan dan mengidentifikasi faktor yang dapat mempengaruhi kesehatan (misalnya, terlalu banyak lemak atau kurangnya serat dalam makanan).

3. Fase Pengembangan Model:
Langkah: Mengembangkan model untuk klasifikasi makanan berdasarkan kandungan gizi (misalnya, makanan tinggi protein, rendah kalori, dll.), serta algoritma untuk merekomendasikan pola makan yang sehat.
Tujuan: Membuat model yang dapat membantu pengguna memilih makanan sehat berdasarkan analisis konsumsi gizi mereka.

4. Fase Pembuatan Rekomendasi Diet:
Langkah: Menggunakan hasil dari fase pengembangan model untuk membangun sistem rekomendasi diet yang dipersonalisasi berdasarkan data nutrisi yang telah dianalisis.
Tujuan: Memberikan saran diet yang sesuai dengan kebutuhan nutrisi pengguna, termasuk pengaturan kalori, protein, dan asupan gizi lainnya.

5. Fase Evaluasi Model:
Langkah: Menguji akurasi dan efektivitas model menggunakan data uji. Mengevaluasi model dengan metrik seperti akurasi, presisi, dan recall untuk memastikan sistem rekomendasi berfungsi dengan baik.
Tujuan: Memastikan bahwa sistem yang dikembangkan dapat memberikan rekomendasi yang akurat dan bermanfaat bagi pengguna.

6. Fase Implementasi dan Pengujian:
Langkah: Mengimplementasikan sistem rekomendasi dalam aplikasi nyata atau platform web, serta melakukan pengujian dengan pengguna untuk mengumpulkan feedback.
Tujuan: Menyediakan solusi yang berguna bagi pengguna untuk memonitor dan memperbaiki pola makan mereka berdasarkan rekomendasi yang diberikan oleh sistem.

7. Fase Pemeliharaan dan Perbaikan:
Langkah: Melakukan pemeliharaan rutin terhadap sistem dan memperbarui model dengan data terbaru untuk memastikan relevansi dan keakuratannya.
Tujuan: Memastikan sistem tetap efektif dan akurat, serta terus memberikan rekomendasi yang berguna bagi pengguna.

Melalui tahapan-tahapan ini, Bertujuan serta mempromosikan gaya hidup sehat melalui pendekatan yang berbasis data.

## **CHECK POINT 2**

Tema "Daily Food & Nutrition Dataset"

1. Sumber Data (kaggle): https://www.kaggle.com/datasets/adilshamim8/daily-food-and-nutrition-dataset

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv ("/content/daily_food_nutrition_dataset.csv")

df

,Date,User_ID,Food_Item,Category,Calories (kcal),Protein (g),Carbohydrates (g),Fat (g),Fiber (g),Sugars (g),Sodium (mg),Cholesterol (mg),Meal_Type,Water_Intake (ml)
0,2024-09-11,496,Eggs,Meat,173,42.4,83.7,1.5,1.5,12.7,752,125,Lunch,478
1,2024-12-17,201,Apple,Fruits,66,39.2,13.8,3.2,2.6,12.2,680,97,Lunch,466
2,2024-06-09,776,Chicken Breast,Meat,226,27.1,79.1,25.8,3.2,44.7,295,157,Breakfast,635
3,2024-08-27,112,Banana,Fruits,116,43.4,47.1,16.1,6.5,44.1,307,13,Snack,379
4,2024-07-28,622,Banana,Fruits,500,33.9,75.8,47.0,7.8,19.4,358,148,Lunch,471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2024-09-18,455,Salmon,Meat,346,29.8,55.6,4.6,1.7,0.5,976,87,Breakfast,793
9996,2024-12-13,913,Grapes,Fruits,174,22.9,54.9,32.1,2.5,5.9,255,56,Lunch,665
9997,2024-01-31,943,Strawberry,Fruits,63,36.5,23.8,21.6,0.8,48.9,757,63,Snack,876
9998,2024-09-28,571,Spinach,Vegetables,564,26.2,58.9,11.9,3.3,43.0,482,33,Breakfast,319
9999,2024-09-07,33,Banana,Fruits,442,20.9,27.3,29.6,9.9,30.9,919,22,Dinner,914

**Melihat Jumlah baris dan kolom**

In [6]:
df.shape

(10000, 14)

**Cek Setiap data dan kolom**

In [7]:
df.dtypes

Date                  object
User_ID                int64
Food_Item             object
Category              object
Calories (kcal)        int64
Protein (g)          float64
Carbohydrates (g)    float64
Fat (g)              float64
Fiber (g)            float64
Sugars (g)           float64
Sodium (mg)            int64
Cholesterol (mg)       int64
Meal_Type             object
Water_Intake (ml)      int64
dtype: object

**Statistik Deskriptif**

In [8]:
# Statistik Deskriptif
df.describe()

,User_ID,Calories (kcal),Protein (g),Carbohydrates (g),Fat (g),Fiber (g),Sugars (g),Sodium (mg),Cholesterol (mg),Water_Intake (ml)
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,498.706300,327.693900,25.523050,52.568550,25.43735,4.986940,25.052570,497.969000,151.886600,554.353600
std,289.123477,158.194716,14.131993,27.387152,14.14532,2.864984,14.480605,287.988001,87.360643,260.977642
min,1.000000,50.000000,1.000000,5.000000,1.00000,0.000000,0.000000,0.000000,0.000000,100.000000
25%,245.000000,190.000000,13.200000,28.800000,13.30000,2.500000,12.500000,249.750000,76.000000,327.000000
50%,492.000000,328.000000,25.500000,52.800000,25.30000,5.000000,25.000000,495.000000,153.000000,555.500000
75%,748.000000,464.000000,37.700000,76.400000,37.60000,7.500000,37.700000,749.000000,228.000000,783.000000
max,1000.000000,600.000000,50.000000,100.000000,50.00000,10.000000,50.000000,1000.000000,300.000000,1000.000000

**Mengecek Korelasi

In [20]:
print("Menentukan Korelasi Antar Kolom")

Menentukan Korelasi Antar Kolom

KeyError: "None of [Index(['discount', 'total_price', 'profit', 'fat_100g'], dtype='object')] are in the [columns]"

# **DATA PREPARATION**

**Tema "Daily Food & Nutrition Dataset"**

Sumber Data (kaggle): https://www.kaggle.com/datasets/adilshamim8daily-food-and-nutrition-dataset

In [21]:
import pandas as pd

file = "/content/daily_food_nutrition_dataset.csv"

df = pd.read_csv(file)
df

,Date,User_ID,Food_Item,Category,Calories (kcal),Protein (g),Carbohydrates (g),Fat (g),Fiber (g),Sugars (g),Sodium (mg),Cholesterol (mg),Meal_Type,Water_Intake (ml)
0,2024-09-11,496,Eggs,Meat,173,42.4,83.7,1.5,1.5,12.7,752,125,Lunch,478
1,2024-12-17,201,Apple,Fruits,66,39.2,13.8,3.2,2.6,12.2,680,97,Lunch,466
2,2024-06-09,776,Chicken Breast,Meat,226,27.1,79.1,25.8,3.2,44.7,295,157,Breakfast,635
3,2024-08-27,112,Banana,Fruits,116,43.4,47.1,16.1,6.5,44.1,307,13,Snack,379
4,2024-07-28,622,Banana,Fruits,500,33.9,75.8,47.0,7.8,19.4,358,148,Lunch,471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2024-09-18,455,Salmon,Meat,346,29.8,55.6,4.6,1.7,0.5,976,87,Breakfast,793
9996,2024-12-13,913,Grapes,Fruits,174,22.9,54.9,32.1,2.5,5.9,255,56,Lunch,665
9997,2024-01-31,943,Strawberry,Fruits,63,36.5,23.8,21.6,0.8,48.9,757,63,Snack,876
9998,2024-09-28,571,Spinach,Vegetables,564,26.2,58.9,11.9,3.3,43.0,482,33,Breakfast,319
9999,2024-09-07,33,Banana,Fruits,442,20.9,27.3,29.6,9.9,30.9,919,22,Dinner,914

**Missing Values**

In [22]:
# Missing Values
print((df.isna().sum() / len(df)) * 100)

Date                 0.0
User_ID              0.0
Food_Item            0.0
Category             0.0
Calories (kcal)      0.0
Protein (g)          0.0
Carbohydrates (g)    0.0
Fat (g)              0.0
Fiber (g)            0.0
Sugars (g)           0.0
Sodium (mg)          0.0
Cholesterol (mg)     0.0
Meal_Type            0.0
Water_Intake (ml)    0.0
dtype: float64

Dapat kita ketahui tidak ada Missing Values

**Duplikat**

In [23]:
# Duplikat
df[df.duplicated()]

Empty DataFrame
Columns: [Date, User_ID, Food_Item, Category, Calories (kcal), Protein (g), Carbohydrates (g), Fat (g), Fiber (g), Sugars (g), Sodium (mg), Cholesterol (mg), Meal_Type, Water_Intake (ml)]
Index: []

**Data Reduction**

In [24]:
df.columns

Index(['Date', 'User_ID', 'Food_Item', 'Category', 'Calories (kcal)',
       'Protein (g)', 'Carbohydrates (g)', 'Fat (g)', 'Fiber (g)',
       'Sugars (g)', 'Sodium (mg)', 'Cholesterol (mg)', 'Meal_Type',
       'Water_Intake (ml)'],
      dtype='object')

In [30]:
df.columns = df.columns.str.strip()

In [31]:
df.columns

Index(['Date', 'User_ID', 'Food_Item', 'Category', 'Calories (kcal)',
       'Protein (g)', 'Carbohydrates (g)', 'Fat (g)', 'Fiber (g)',
       'Sugars (g)', 'Sodium (mg)', 'Cholesterol (mg)', 'Meal_Type',
       'Water_Intake (ml)'],
      dtype='object')

In [32]:
df.dtypes

Date                  object
User_ID                int64
Food_Item             object
Category              object
Calories (kcal)        int64
Protein (g)          float64
Carbohydrates (g)    float64
Fat (g)              float64
Fiber (g)            float64
Sugars (g)           float64
Sodium (mg)            int64
Cholesterol (mg)       int64
Meal_Type             object
Water_Intake (ml)      int64
dtype: object

**Mengubah Tipe Data**